<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'File' }) %>
<body class="bg-sky-200 min-h-screen flex flex-col">
  <%- include('../partials/header') %>
  <main>
    <div class="w-4/5 max-w-7xl mx-auto">
      <h1 class="text-2xl text-neutral-800 my-4">📜<%= file.name %></h1>
      <div class="flex flex-wrap gap-2 items-start pb-6">

        <div class="flex-1 min-w-xs text-neutral-800">
          <% if (file.mimetype === 'image/jpeg') { %>
            <img src="/file/download/<%= file.id %>" alt="<%= file.name %>">
          <% } else { %>
            <p>Display is not available for this file type</p>
          <% } %>
        </div>

        <table class="flex-1 bg-sky-300">
          <tr>
            <th class="text-neutral-900 font-normal text-left bg-sky-400 px-2 py-1">
              Name
            </th>
            <td class="text-neutral-700 px-2 py-1"><%= file.name %></td>
          </tr>
          <tr>
            <th class="text-neutral-900 font-normal text-left bg-sky-400 px-2 py-1">
              Mimetype
            </th>
            <td class="text-neutral-700 px-2 py-1"><%= file.mimetype %></td>
          </tr>
          <tr>
            <th class="text-neutral-900 font-normal text-left bg-sky-400 px-2 py-1">
              Size
            </th>
            <td class="text-neutral-700 px-2 py-1"><%= file.size %></td>
          </tr>
          <tr>
            <th class="text-neutral-900 font-normal text-left bg-sky-400 px-2 py-1">
              Created at
            </th>
            <td
              id="timestamp-field"
              class="text-neutral-700 px-2 py-1"
              data-timestamp="<%= file.createdAt %>"
            ></td>
          </tr>
          <tr>
            <th class="text-neutral-900 font-normal text-left bg-sky-400 px-2 py-1">
              Download
            </th>
            <td class="text-neutral-900 px-2 py-1">
              <a class="hover:text-amber-800" href="/file/download/<%= file.id %>" download="<%= file.name %>">
                <%= file.name %>
                <span>📥</span>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </main>
  <script>
    (() => {
      const timestampField = document.querySelector('#timestamp-field');
      const timestampDate = new Date(timestampField.dataset.timestamp);
      const dateOptions = {
        year: "numeric",
        month: "numeric",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
      }
      const displayDate = new Intl.DateTimeFormat(undefined, dateOptions).format(timestampDate);
      timestampField.textContent = displayDate;
    })();
  </script>
  <%- include('../partials/footer') %>
</body>
</html>