<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Login' }) %>
<body class="bg-sky-200 min-h-screen flex flex-col">
  <%- include('../partials/header') %>
  <main class="p-2">
    <div class="w-4/5 max-w-7xl mx-auto">
      <h1 class="text-2xl text-neutral-800 my-4 text-center">🔑 Login</h2>
      <form action="/login" method="post" class="bg-sky-300 max-w-md p-4 shadow-lg mx-auto my-16">
        <div class="flex flex-col gap-4">
          <div>
            <label for="username" class="block text-neutral-800">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              class="bg-sky-400 focus:bg-amber-200 rounded-sm px-2 w-full"
              value="<%= locals.values?.username || ''%>"
            >
            <% if (locals.errors?.username) { %>
              <p class="text-sm text-red-500"><%= errors.username.msg %></p>
            <% } %>
          </div>
          <div>
            <label for="password" class="block text-neutral-800">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="bg-sky-400 focus:bg-amber-200 rounded-sm px-2 w-full"
            >
            <% if (locals.errors?.password) { %>
              <p class="text-sm text-red-500"><%= errors.password.msg %></p>
            <% } %>
          </div>
          <button type="submit" class="bg-amber-300 hover:bg-amber-400 px-4 cursor-pointer rounded-sm">
            Submit
          </button>
        </div>
      </form>
      <div class="flex text-sm text-neutral-800 gap-1 justify-center mt-2">
        <a href="/register" class="hover:text-neutral-700">
          Create account
        </a>
        <span> | </span>
        <a href="#" class="hover:text-neutral-700">
          Forget password
        </a>
      </div>
    </div>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>