<% const folderHasSubfolders = folder.subfolders.length > 0; %>
<% const folderHasFiles = folder.files.length > 0; %>
<% const isFolderEmpty = !folderHasSubfolders && !folderHasFiles; %>

<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Folder' }) %>
<body>
  <%- include('../partials/header') %>
  <main class="bg-sky-200">
    <h1 class="text-xl text-neutral-900 text-center">Folder</h1>

    <div class="w-4/5 max-w-7xl mx-auto">
      <h2 class="absolute inset-x-9999">Folder content</h2>

      <% if (folderHasSubfolders) { %>
        <h3 id="folders-title" class="absolute inset-x-9999">Folders</h3>
        <ul aria-labelledby="folders-title">
          <% folder.subfolders.forEach((subfolder) => { %>
            <li class="before:content-['ðŸ“']">
              <a href="/drive/<%= subfolder.id %>" class="text-neutral-800 hover:text-sky-800">
                <%= subfolder.name %>
              </a>
            </li>
          <% }) %>
        </ul>
      <% } %>

      <% if (folderHasFiles) { %>
        <h3 id="files-title" class="absolute inset-x-9999">Files</h3>
        <ul aria-labelledby="files-title">
          <% folder.files.forEach((file) => { %>
            <li class="before:content-['ðŸ“„']">
              <a href="/file/<%= file.id %>" class="text-neutral-800 hover:text-sky-800">
                <%= file.name %>
              </a>
            </li>
          <% }) %>
        </ul>
      <% } %>
      
      <% if (isFolderEmpty) { %>
        <p class="text-neutral-700 text-lg">Your drive is empty</p>
      <% } %>
    </div>

    <div class="w-4/5 max-w-7xl mx-auto">
      <h2 id="create-folder-title" class="text-xl text-neutral-800">Add Folder</h2>
      <form
        aria-labelledby="create-folder-title"
        action="/drive/<%= folder.id %>"
        method="post"
        class="bg-sky-300"
      >
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <button type="submit">Create folder</button>
      </form>
    </div>

    <div class="w-4/5 max-w-7xl mx-auto">
      <h2 id="create-file-title" class="text-xl text-neutral-800">Add File</h2>
      <form
        aria-labelledby="create-file-title"
        action="/file/<%= folder.id %>"
        method="post"
        enctype="multipart/form-data"
        class="bg-sky-300"
      >
        <label for="file">File:</label>
        <input type="file" name="file" id="file">
        <button type="submit">Submit</button>
      </form>
    </div>
  </main>
</body>
</html>